.body {
  background-color: rgb(222, 228, 228);
  padding: 2%;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2%;
}
.button {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2%;
}

.table {
  display: flex;
  background-color: chocolate;
}

.displaynone {
}
